@import url("colors.css");

window {
    background-color: @background;
    border: 2px solid @primary;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
}

#input {
    margin: 8px;
    padding: 8px 10px;
    background-color: @background;
    color: @foreground;
    border: 1px solid @selection;
    border-radius: 0;
}

#inner-box {
    margin: 0 8px 8px;
    background-color: transparent;
}

#entry {
    padding: 8px 10px;
    color: @foreground;
    background-color: transparent;
}

#entry:selected {
    color: @background;
    background-color: @primary;
}

#text {
    color: inherit;
}

#img {
    opacity: 0;
}
